.complaint-form {
  max-width: 64rem;
  margin: 1rem auto;
}

.form-section {
  margin-bottom: 2rem;
}

.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 640px) {
  .form-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-select,
.form-input,
.form-textarea,
.form-file {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.form-select {
  padding: 0.5rem 1rem;
}

.form-select option {
  display: none;
}

.form-textarea {
  resize: vertical;
  outline: none;
  border: 1px solid #3030368f;
  min-height: 10rem;
}

.form-button {
  font-family: ManRope;
  text-align: center;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #e6e5e5;
  color: black;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #d0d0d1;
}

.form-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #3030368f;
  border-radius: 0.25rem;
  height: 3rem;
  outline: none;
}
