.custom-select-container {
  width: 100%;
  margin-bottom: 1rem;
}

.custom-select-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
}

.custom-select {
  position: relative;
  font-family: Arial, sans-serif;
  border-radius: 0.25rem;
  border: 1px solid #3030368f;
  background-color: #1a1a1a;
  color: #ffffff;
  height: 3rem;
}

.select-selected {
  position: relative;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: inherit;
  border: 1px solid #303036;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 3rem;
}

.select-selected:after {
  content: "";
  position: absolute;
  right: 1rem; /* Adjusted for centering */
  border: 6px solid transparent;
  border-color: #ffffff transparent transparent transparent;
  top: calc(50% - 3px); /* Center vertically */
  transform: translateY(-50%);
}

.select-arrow-active:after {
  border-color: transparent transparent #ffffff transparent;
  top: calc(50% - 3px); /* Center vertically */
}

.select-items {
  position: absolute;
  background-color: #242428;
  width: 100%;
  margin-top: 1rem;
  border-radius: 0.4rem;
  z-index: 99;
  padding: 0.25rem;
}

.select-item {
  padding: 1rem 0.5rem;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.select-item:hover {
  background-color: #212121;
  border-radius: 0.25rem;
}

.tick {
  font-size: 0.9rem;
  color: white;
  margin-right: 0.5rem; /* Space between tick and text */
  flex-shrink: 0; /* Prevent tick from shrinking */
}

.option-text {
  flex: 1; /* Ensure text takes up remaining space */
}
